.details-container {
    display: flex;

    margin-top: 4.7rem; /* respect to container */
}

.details-container__featuredprogram {
    flex: 1;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: yellow;

    /* box-sizing: border-box; */

    margin-top: 0rem; /* respect to details container */
    margin-left: 7.5rem; /* respect to container */
}

.details-container__featuredprogram-h1 {
    background-image: url("../../assets/titleBG.svg");
    margin-top: 0rem; /* respect to details container */
    margin-left: 0rem; /* respect to details container */
    /* width: 350px; */
    height: 60px;

    padding: 0.9rem 3.75rem 1rem; /*  for text*/
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--color-bg);    
}

.details-container__featuredprogram-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    background: #EAEAEA;    
}

.details-container__featuredprogram-body p:nth-of-type(1) {
    margin-top: 1.1rem; /* respect to featuredprogram container */
    margin-left: 1.5rem; /* respect to featuredprogram container*/
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: var(--color-utility);    
}

.details-container__featuredprogram-body img {
    margin-top: 0.75rem; 
    margin-left: 1.5rem; 
    width: 301px;
    height: 155px;
}

.details-container__featuredprogram-body p:nth-of-type(2) {
    margin-top: 0.75rem; /* respect to image */ 
    margin-left: 1.5rem; /* respect to featuredprogram container*/
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    flex-wrap: wrap;
    color: var(--color-utility);    
}

.details-container__featuredprogram-body p:nth-of-type(3) {
    margin-top: 0.5rem; /* respect to 2nd P */
    margin-left: 1.5rem; /* respect to featuredprogram container*/
    margin-bottom: 1.18rem; /* respect to featuredprogram container*/
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; /* identical to box height */
    
    color: var(--color-utility);    
}

.details-container__nationallyranked {
    flex: 1;
    margin-left: 5%;
    background: red;


    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
    margin-top: 0rem; /* respect to details container */
    margin-left: 7.5rem; /* respect to container */

}

.details-container__registrationdates {
    flex: 1;
    margin-left: 5%;
    margin-right: 8%;
    background: blueviolet;
}

.studentVideo-container {
    display: flex;
    flex-direction: row;
    margin-top: 3.18rem; /* respect to details container */
    margin-left: 7.5rem; /* respect to container */
    width: 1200px;
    height: 418px;
}

.studentVideo-container_video {
    flex: 1;
    display: flex;
    align-items: flex-start;

    box-sizing: border-box;

    position: absolute;
    margin-top: 1.5rem; /* respect to studentVideo container */
    margin-left: 0rem; /* respect to studentVideo container */
    width: 700px;
    height: 394px;   
    
    border: 2px solid var(--color-utility);
}

.studentVideo-container_quote {
    flex: 1;
    display: flex;
    align-items: flex-end; 

    box-sizing: border-box;

    position: absolute;
    margin-top: 0rem; /* respect to studentVideo container */
    margin-left: 47.5rem; /* respect to container */
    width: 442px;
    height: 418px;
}

.studentVideo-container_quote-img {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    
    position: absolute;
    margin-top: 0.5rem; /* respect to studentVideo quote container */
    margin-left: 0.5rem;
    width: 89px;
    height: 200px;
}

.studentVideo-container_quote-img img {
    width: 89px;
    height: 110px;
}

.studentVideo-container_quote-body {
    flex: 1;
    display: flex;
    flex-direction: row;

    position: absolute;
    margin-top: 0rem; /* respect to studentVideo quote container */
    margin-left: 0.5rem;
    width: 430px;
    height: 308px;
}

.studentVideo-container_quote-body p:nth-of-type(1) {
    position: absolute;
    margin-top: 0rem;
    margin-left: 0.5rem;
    width: 430px;
    height: 238px;
    
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    
    letter-spacing: -0.05em;
    
    color: var(--color-utility);
}

.studentVideo-container_quote-body p:nth-of-type(2) {
    position: absolute;
    margin-top: 16.12rem;
    margin-left: 0.5rem;
    width: 430px;
    height: 38px;
    
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    /* or 34px */
    
    color: var(--color-utility);
}


@media only screen and (max-width: 640px) {
    .details-container {
        display: block;
    }

    .details-container__featuredprogram {
        margin-left: 0%;
        width: 100%;
    }

    .details-container__featuredprogram-h1 {
        margin: 0.25 0;
        width: 100%;
    }

    .details-container__featuredprogram-body {
        display: none;
    }

    .details-container__nationallyranked {
        margin-left: 0%;
        width: 100%;
    }

    .details-container__registrationdates {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}
